<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softpro.personaldiary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".HistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewContactsActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>